*{
    padding: 5px;
    margin: 5px;
    border: 0px;
}
body{
    background-color: yellow;

}

header{
    background-color: orange;
    width:auto ;
    height:100px ;
}
nav{
    background-color: rgb(185, 185, 47);
    float: center;
    width:auto;
 margin-bottom: 30px;
 padding-left: 30px;
}


section{
    background-color: azure;
    height: 500px;
    width: auto;
    margin-top: 0px;
}
.c1{
    background-color: red;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 200px;
}
.c2{
    background-color: purple;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 150px;

}
.c3{
    background-color: rgb(179, 178, 178);
    width: 50px;
    height: 50px;
    position: relative;
    top: 100px;

}

.c4{
    background-color: green;
    width: 50px;
    height: 50px;
    position: sticky;
    top: 100px;


}

aside{
    background-color: purple;
}
footer{
    background-color: cornflowerblue;
    width: auto;
    height: 20px;
}