*{
    padding: 5px;
    margin: 5px;
    border: 0px;
}
body{
    background-color: yellow;

}

header{
    background-color: orange;
    width:auto ;
    height:100px ;
}
nav{
    background-color: rgb(185, 185, 47);
    float: center;
    width:auto;
 margin-bottom: 30px;
 padding-left: 30px;
}


section{
    background-color: azure;
    height: 500px;
    width: auto;
    margin-top: 0px;
}
.c1{
    background-color: red;
    width: 700px;
    height: 300px;
    position: relative;
    left: 300px;
    
}
.c2{
    background-color: purple;
    width: 600px;
    height: 200px;
    margin-left: 40px;
    margin-top: 40px;
    
}
.c3{
    background-color: rgb(179, 178, 178);
    width: 550px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;

}

.c4{
    background-color: green;
    width: 220px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: cursive;
    font-size: 20px;

}
.c5{
    background-color: green;
    width: 220px;
    font-family: cursive;
    left: 20px;
    font-size: 20px;
    text-align: center;
    
    height: 100px;
    margin-left: 280px;
    margin-top: -114px;


}

aside{
    background-color: purple;
}
footer{
    background-color: cornflowerblue;
    width: auto;
    height: 20px;
}