*{
    padding: 5px;
    margin: 5px;
    border: 0px;
}
body{
    background-color: yellow;

}
div{
    background-color: red;
    width:100px ;
    height:100px ;
    float: left;    
}
header{
    background-color: orange;
    width:auto ;
    height:100px ;
}
nav{
    background-color: rgb(185, 185, 47);
    float: center;
    width:auto;
 margin-bottom: 30px;
 padding-left: 30px;
}
ul{
    
    margin-bottom: 30px;
    padding-left: 30px;
 
    
}
li{

float: left;
margin-left: 17px;
font-size: 20px;


}

section{
    background-color: azure;
    height: 200px;
    width: auto;
    margin-top: 0px;
}
aside{
    background-color: purple;
}
footer{
    background-color: cornflowerblue;
    width: auto;
    height: 20px;
}